.nfts {
  background: var(--major-background-color);
  padding: 120px 0 80px;
}

.nft-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nft-about-text {
  color: var(--white-color);
}

.nft-about-text > h2 {
  font-size: 48px;
  line-height: 59.95px;
  margin-bottom: 35px;
}

.nft-about-text > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 50px;
  width: 415px;
}

.nft-about-text > button {
  padding: 14px 33px;
  border: none;
  border-radius: 8px;
  color: #a02279;
  background: var(--whiteline-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.nft-about-img > img {
  width: 704px;
  height: 574.85px;
}

/* BREAKPOINTS */
/* Large Screens */
/* @media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1000px) {
  .nft-about-img > img {
    width: 504px;
    height: 374.85px;
  }
} */

/* For medium devices */
/* @media screen and (max-width: 768px) {
  
} */

@media screen and (max-width: 576px) {
  .nft-container {
    display: grid;
    gap: 50px;
  }

  .nft-about-text > h2 {
    font-size: 35px;
  }

  .nft-about-text > p {
    font-size: 16px;
  }

  .nft-about-img > img {
    width: 504px;
    height: 374.85px;
  }
}

/* For small devices */
/* @media screen and (max-width: 350px) {
  .container {
    max-width: 250px;
  }
} */
